<!Doctype html>
<html>
<head>
    <title>Tilt Music</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/stylesheets/style.css" rel="stylesheet" />
</head>
<body>
    </div>
        <h1>Tilt Music!</h1>
    </div>
    <div class='interactive' ng-app='Tilt' ng-controller='MainController' id='angMain'>
        <form>
            {{3+4}}
            <input type= 'text' value ='Enter your name' ng-model='name'/> <button ng-click='start(name)'>Submit</button>
            <button onclick='toggleAll()'>Play / Pause</button></br>
            <input type='text' value='meh' id='freqMon' />
        </form>
        <div id='anchor'></div>
    
        <div class='footer'></div>
        <div id='graphCont'>
            <div class='bar' ng-repeat='freq in freqs' style='height:{{width}}; width:{{freq.height}};background-color:hsl(240,100%,{{freq.val}});transform:rotateY({{freq.rot}})'></div>
        </div>
    </div>

    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/angular/angular.min.js"></script>
    <script src='/js/controllers/MainController.js'></script>
    <script src='/js/factories/socket.js'></script>
    <script src='/js/static.js'></script>
    <script src='/js/oscillate.js'></script>
    <script src='/js/socket.js'> </script>
</body>
</html>

